body {
    background-color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    text-decoration: none;
    overflow-y: hidden; /* Empêche le défilement vertical */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Assure que le contenu occupe au moins toute la hauteur de la vue */

    h1 {
        text-transform: uppercase;
        color: khaki;
    }

    p, li {
        font-weight: 700;
    }
    
    form {
        border: 2px dotted black;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        input, button {
            width: 20rem;
            height: 2rem;
            margin: 1rem;
            border-radius: 5px;
        }

        input {
            text-align: center;
        }

        button {
            background-color: khaki;
            border-radius: 5px;
            font-weight: 800;
            box-shadow: 2px 2px 10px black;
        }
    }
        
    ul {

      li {
        list-style: none;
        display: flex;
        align-items: center; /* Aligne le contenu verticalement au centre */
        margin-bottom: 10px; /* Ajoute un espace en dessous de chaque élément de liste */
      }
      
      li span {
        flex: 1; /* Permet au span de prendre autant d'espace que possible dans le conteneur */
      }
      
      li button {
        margin-left: 5px; /* Ajoute un espace à gauche du bouton */
        background-color: khaki;
        border-radius: 5px;
        font-weight: 800;
      }
    }  
  }

